---
layout: default
---

<header>
  <div class="wrapper home-hero-wrapper">
    <div class="home-hero">

      <div class="hero-info">
        <a class="site-avatar" href="{{ site.baseurl }}/"></a>
        <p class="site-name">{{ site.title }}</p>
        <ul class="social-list">
          {% for account in site.data.accounts %}
          <li class="social-item">
            <a class="social-item-link" href="{{ account.url }}/{{ account.username }}" target="_blank">
              <span class="icon">
                {% include icon/{{ account.name }}.html %}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <h3 class="headline">
        I like making things with people. Designing with <a href="http://minimill.co">Minimill</a>. Partying with <a href="http://startupshell.org" target="_blank">Startup Shell</a> and <a href="http://bitca.mp" target="_blank">Bitcamp</a>. Formerly with <a href="https://creativemarket.com" target="_blank">Creative Market</a> and <a href="https://venmo.com" target="_blank">Venmo</a>.
      </h3>

    </div>
  </div>
</header>

<ul class="post-list wrapper">
  {% for post in site.posts %}
  <li class="post-item">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-thumbnail">
        <img src="images/{{ post.title | slugify }}_thumbnail.png">
      </div>
      <h3 class="post-list-title">{{ post.title }}</h3>
    </a>
  </li>
  {% endfor %}
</ul>
