---
layout: default
---

<header>
  <div class="wrapper home-hero-wrapper">
    <div class="home-hero">

      <div class="hero-info">
        <a class="site-avatar" href="{{ site.baseurl }}/"></a>
        <h1 class="h4 site-name">{{ site.title }}</h1>
        <ul class="social-list">
          <li class="social-item">
            <a class="social-item-link" href="https://twitter.com/jhilmd" target="_blank">
              <span class="icon">
                {% include twitter.html %}
              </span>
            </a>
          </li>
          <li class="social-item">
            <a class="social-item-link" href="https://www.linkedin.com/in/jhilnbrand" target="_blank">
              <span class="icon">
                {% include linkedin.html %}
              </span>
            </a>
          </li>
          <li class="social-item">
            <a class="social-item-link" href="https://dribbble.com/jhil" target="_blank">
              <span class="icon">
                {% include dribbble.html %}
              </span>
            </a>
          </li>
          <li class="social-item">
            <a class="social-item-link" href="https://medium.com/@jhilmd" target="_blank">
              <span class="icon">
                {% include medium.html %}
              </span>
            </a>
          </li>
          <li class="social-item">
            <a class="social-item-link" href="https://github.com/jhil" target="_blank">
              <span class="icon">
                {% include github.html %}
              </span>
            </a>
          </li>
        </ul>
      </div>

      <h3 class="headline">
        I like making things with people. Designing with <a href="http://minimill.co">Minimill</a>. Next with <a href="https://www.facebook.com/design">Facebook</a>. Directed <a href="http://startupshell.org" target="_blank">Startup Shell</a> and <a href="http://bitca.mp" target="_blank">Bitcamp</a>. Worked with <a href="https://creativemarket.com" target="_blank">Autodesk</a> and <a href="https://venmo.com" target="_blank">Venmo</a>. Say <a href="mailto:jahilnbrand@gmail.com?Subject=Hello!">Hello</a>!
      </h3>

    </div>
  </div>
</header>

<ul class="post-list wrapper">
  {% for post in site.posts %}
  <li class="post-item">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-thumbnail">
        <img src="images/thumbnails/{{ post.title | slugify }}_thumbnail.png">
      </div>
      <h4 class="post-list-title">{{ post.title }}</h4>
    </a>
  </li>
  {% endfor %}
</ul>
