<header class="site-header">
  <div class="wrapper">

  <div class="home-hero">

    <div class="hero-info">
      <a class="site-avatar" href="{{ site.baseurl }}/"></a>
      <p class="site-name">{{ site.title }}</p>
    </div>

    <h3 class="hero-headline">
      I like making things with people. Working with <a href="https://creativemarket.com" target="_blank">Creative Market</a> and <a href="http://www.autodesk.com" target="_blank">Autodesk</a>. Partying with <a href="http://startupshell.org" target="_blank">Startup Shell</a> and <a href="http://bitca.mp" target="_blank">Bitcamp</a>. Formerly with <a href="https://venmo.com" target="_blank">Venmo</a>.
    </h3>

  </div>

  </div>
</header>
