
<!-- Twitter Card -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ site.description }}">
{% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}"> 
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/jhilnbrand.jpg">
{% endif %} 

<!-- Facebook Open Graph -->

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:description" content="{{ site.description }}" /> 
<meta property="og:site_name" content="{{ site.title }}" />
{% if page.image %}
  <meta name="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}"> 
{% else %}
  <meta property="og:image" content="{{ site.url }}/images/jhilnbrand.jpg" />
{% endif %} 

