// RESET

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


// BASE SIZES

html {
  font-size: 14px;
  @include desktop {
    font-size: 16px;
  }
  @include hd {
    font-size: 18px;
  }
  @include large {
    font-size: 24px;
  }
}


// BODY

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}


// IMAGES

img {
  max-width: 100%;
  vertical-align: middle;
}

// LINKS

a {
  color: $link-color;
  text-decoration: none;
  transition: color $duration-short;
}


// WRAPPER

.wrapper {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include laptop {
    padding: 0 3rem;
  }
  @include desktop {
    padding: 0 4rem;
  }
  @include hd {
    padding: 0 5rem;
  }
}

// LAYOUT

.ratio {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.ratio > * {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ratio-16_9:before {
  padding-top: 62.5%;
}

.text-center {
  text-align: center;
}

.full {
  width: 100%;
}


// BUTTONS

a.button {
  display: inline-block;
}

button, .button {
  padding: 1.5rem 2rem;
  @extend .p;
  font-family: $sans;
  color: white;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  transition: opacity $duration-short;
  &:hover {
    opacity: .8;
  }
}


// CLEARFIX

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

