// RESET

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


// IMAGES

img {
    max-width: 100%;
    vertical-align: middle;
}

// LINKS

a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($link-color, 15%);
    }

    &:hover {
        color: $text-color;
    }
}


// WRAPPER

.wrapper {
    @extend %clearfix;
    padding: 0 4rem;
}


// CLEARFIX

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

