// RESET

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


// LAYOUT

$space: 1rem;


// BODY

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}


// IMAGES

img {
  max-width: 100%;
  vertical-align: middle;
}

// LINKS

a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s;
}


// WRAPPER

.wrapper {
  padding: 0 $space;
  @include media($tablet) {
    padding: 0 3*$space;
  }
  @include media($desktop) {
    padding: 0 4*$space;
  }
}


// LAYOUT

.ratio {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.ratio > * {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ratio-16_9:before {
  padding-top: 62.5%;
}


// CLEARFIX

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

