// FOOTER

.site-footer {
  text-align: center;
  padding: 2*$space 0;
  @include media($tablet) {
  padding: 3*$space 0;
  }
  @include media($desktop) {
  padding: 4*$space 0;
  }
  @include media($large) {
  padding: 4*$space 0;
  }

}

.footer-copy {
  
}
