// FOOTER

.site-footer {
  text-align: center;
  padding: 2rem 0;
  color: $light-gray;
  @include laptop {
    padding: 3rem 0;
  }
  @include desktop {
    padding: 4rem 0;
  }
  @include hd {
    padding: 5rem 0;
  }
}

.footer-copy {
  
}
