// HEADER

header {
  @extend .wrapper;
  padding: 4*$space 1rem;
}

.site-header {
  text-align: center;
}

.site-logo {
  display: inline-block;
}

.site-avatar {
  background: url("../images/jhilnbrand.jpg") no-repeat;
  background-size: contain;
  width: 8rem;
  height: 8rem;
  @include media($tablet) {
    width: 5rem;
    height: 5rem;
  }
  display: block;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.site-title {
}
