// HOME


.home {

}

.page-content {
}

.page-heading {
}

.post-list {

}

.post-item {
  text-align: center;
}

.post-link {
  display: block;
}

.post-thumbnail {
  background: $scratch-color;
  width: 100%;
  height: 20rem;
}

.post-list-title {

}
