// HOME


.page-content {

}

.page-heading {

}

.site-header {
}

.home-hero {
  display: flex;
  width: 100%;
}

.hero-info {
  display: flex;
  flex: 25%;
  flex-direction: column;
  padding-right: 2.5rem;
  align-items: center;
}

.hero-headline {
  flex: 75%;
  padding-left: 2.5rem;
  color: $lighter-grey;
  a {
    color: $light-grey;
    &:hover {
      color: $grey;
    }
  }
}

.site-avatar {
  background: url("../images/jhilnbrand.jpg") no-repeat;
  background-size: contain;
  width: 8rem;
  height: 8rem;
  @include media($tablet) {
    width: 5rem;
    height: 5rem;
  }
  display: block;
  border-radius: 50%;
  margin: 0 0 1rem;
}

.site-name {
}

.home-hero {
  margin-bottom: 2*$space;
  @include media($tablet) {
    margin-bottom: 3*$space;
  }
  @include media($desktop) {
    margin-bottom: 4*$space;
  }
  @include media($large) {
    margin-bottom: 4*$space;
  }
}

.social-list {
  margin-top: 2rem;
  text-align: center;
}

.social-item {
  float: left;
  margin: 0 .5rem;
}

.icon {
  width: 1.5rem;
  display: block;
  padding: .25rem;
}


.social-item-link {
  color: $lighter-grey;
  line-height: 1;
}

.social-email {
  color: $lighter-grey;
  margin: 1rem 0 0;
}

.post-list {
  display: flex;
  flex-flow: row wrap;
  @include media($tablet) {
    padding: 0 2*$space;
  }
  @include media($desktop) {
    padding: 0 3*$space;
  }
  @include media($large) {
    padding: 0 2.5*$space;
  }
}

.post-item {
  width: 100%;
  @include media($tablet) {
    width: 50%;
    flex-grow: 0;
  }
  @include media($desktop) {
    width: 33.33%;
  }
  @include media($large) {
    width: 25%;
  }
  padding: 0;
  @include media($tablet) {
    padding: 0 $space;
  }
  @include media($desktop) {
    padding: 0 2*$space;
  }
  @include media($large) {
    padding: 0 2.5*$space;
  }
  margin-bottom: $space;
  @include media($tablet) {
    margin-bottom: 2*$space;
  }
  @include media($large) {
    margin-bottom: 3*$space;
  }

  text-align: center;
  &:hover {
    .post-thumbnail {
      transform: translateY(-.5rem);
    }
  }
}

.post-link {
}

.post-thumbnail {
  @extend .ratio;
  @extend .ratio-16_9;
  transition: transform .4s ease-in-out;
  img {
    border-radius: 3px;
  }
}

.post-list-title {
  padding: 1rem 0;
  @extend .p;
}


// ANIMATION

.come-in {
  transform: translateY(2rem);
  animation: come-in 0.6s ease forwards;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

