// HOME


.home {

}

.page-content {

}

.page-heading {

}

.post-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0 3rem;
}

.post-item {
  width: 33.33%;
  flex-grow: 0;
  padding: 0 1rem 2rem;
  text-align: center;
}

.post-link {
}

.post-thumbnail {
  @extend .ratio;
  @extend .ratio-16_9;
  display: flex;
}

.post-thumbnail img {
  width: 100%;
  align-items: center;
}

.post-list-title {

}
