// POSTS


// HEADER

.post-header {
  text-align: center;
  width: 100%;
}

.post-title {
  line-height: 1.2;
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 3rem;
  }
  @include laptop {
    margin-bottom: 4rem;
  }
  height: auto;
}

.post-header-row {
  text-align: center;
  @include laptop {
    display: flex;
  }
}

.post-sitename {
  margin-bottom: 1rem;
  @include laptop {
    display: flex;
    margin-bottom: 0;
    flex: 25%;
    text-align: left;

    a:before {
      content: "‹";
      background: url("../images/jhilnbrand.jpg") no-repeat;
      background-position: 0 0rem;
      background-size: contain;
      line-height: 5.125rem;
      width: 2rem;
      height: 2rem;
      display: block;
      border-radius: 50%;
      margin: -.5rem 1rem 0 0;
      float: left;
      transition: line-height $duration-short ease, color $duration-short ease-in-out, background-position $duration-short ease;
      position: relative;
      overflow: visible;
      z-index: 1000;
      color: $trans;
      text-align: center;
    }
    a:hover:before {
      line-height: 2.125rem;
      color: $gray;
      background-position: 0 -3rem;
    }
  }
}

.post-scope {
  margin-bottom: 1rem;
  @include laptop {
    margin-bottom: 0;
    flex: 50%;
    text-align: center;
  }
}

.post-date {
  @include laptop {
    flex: 25%;
    text-align: right;
  }
}

.post-content {
}


// POST ARTICLE

article {

  text-align: center;
  overflow: hidden;

  > * {
    display: block;
    margin: 0 auto 2rem;
    @include tablet {
      margin: 0 auto 3rem ;
    }
    @include desktop {
      margin: 0 auto 8rem;
    }
    @include large {
      margin: 0 auto 10rem;
    }
  }

  .no-space {
    margin: 0 auto 0;
  }

  p {
    clear: both;
    @extend .tight;
    font-weight: 300;
    text-align: left;
    a {
      text-decoration: underline;
    }

  }

  p, .double-tight {
    padding: 0 1rem;
    @include tablet {
      padding: 0 3rem;
    }
    @include desktop {
      padding: 0 4rem;
    }
  }

  img {
    width: 100%;
    clear: both;
  }

  .embed {
    max-width: 100%;
    vertical-align: middle;
    clear: both;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  video {
    clear: both;
    min-width: 100%;
    min-height: 100%;
  }

  video.double {
    min-width: 50%;
    min-height: 50%;
  }

  video.tightest {
    min-width: 20rem;
    text-align: center;
  }

  h3 {
    clear: both;
    padding: 0 1rem;
    @include tablet {
      padding: 0 3rem;
    }
    @include laptop {
      max-width: 80rem;
      padding: 0 4rem;
    }
  }

  .double {
    width: 100%;
    clear: none;
    @include laptop {
      float: left;
      width: 50%;
    }
  }

  p.double, h3.double {
    padding: 1rem;
    @include tablet {
      padding: 3rem;
    }
    @include laptop {
      padding: 4rem;
    }
  }


  .tight {
    max-width: 60rem;
  }
  .tighter {
    max-width: 40rem;
  }

  .tightest {
    max-width: 20rem;
  }

  .shadow {
    @include desktop {
      box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    }
  }

  .bg {
    @extend .shadow;
    background: $lightest-gray;
    padding: 8rem;
  }

}

