// POSTS

.post {

}

.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-header-row {

}

.post-avatar {

}

.post-title {
  line-height: 1;
}

.post-date {

}

.post-type {

}

.post-content {
    margin-bottom: $spacing-unit;
}
