// RELATED

.related-nav {
  display: flex;
  clear: both;
}

.related-item {
  background: $lighter-gray;
  font-size: 2rem;
  color: $light-gray;
  flex: 50%;
  flex-grow: 1;
  text-align: center;
  padding: 2rem 1rem;
  @include tablet {
    padding: 3rem 1rem;
  }
  @include desktop {
    padding: 4rem 1rem;
  }
  transition: all $duration-short;
  h2:after, h2:before {
    font-family: $sans;
    transition: transform $duration-short ease;
    display: inline-block;
  }
  &:hover {
    color: $gray;
  }
}

.related-prev {
  h2:before {
    content: "←";
    transform: translate(-1rem);
  }
  &:hover {
    h2:before {
      transform: translate(-1.5rem);
    }
  }
}

.related-next {
  h2:after {
    content: "→";
    transform: translate(1rem);
  }
  &:hover {
    h2:after {
      transform: translate(1.5rem);
    }
  }
}
