// RELATED

.related-nav {
  display: flex;
}

.related-item {
  color: $lighter-gray;
  flex: 50%;
  flex-grow: 1;
  text-align: center;
  padding: 2rem 1rem;
  @include tablet {
    padding: 3rem 1rem;
  }
  @include desktop {
    padding: 4rem 1rem;
  }
  transition: all .2s;
  h2:after, h2:before {
    font-family: $sans;
    transform: translateY(-.25rem);
    font-weight: 600;
    font-size: 2rem;
    margin: 0 1rem;
    transition: transform .6s ease;
    display: inline-block;
  }
  &:hover {
    // background: $lighter-gray;
    color: $light-gray;
  }
}

.related-prev {
  h2:before {
    content: "‹";
  }
  &:hover {
    h2:before {
      transform: translate(-.5rem, -.25rem);
    }
  }
}

.related-next {
  h2:after {
    content: "›";
  }
  &:hover {
    h2:after {
      transform: translate(.5rem, -.25rem);
    }
  }
}
