
// BREAKPOINTS

$tablet:            481px;
$laptop:            769px;
$desktop:           1281px;
$hd:                1441px;
$large:             1921px;


// MEDIA QUERIES

@mixin mobile-only {
    @media screen and (max-width: $tablet) {
      @content;
    }
}

@mixin mobile-tablet-only {
    @media screen and (max-width: $laptop) {
      @content;
    }
}

@mixin tablet {
  @include media($tablet) {
    @content;
  }
}

@mixin laptop {
  @include media($laptop) {
    @content;
  }
}

@mixin desktop {
  @include media($desktop) {
    @content;
  }
}

@mixin hd {
  @include media($hd) {
    @content;
  }
}

@mixin large {
  @include media($large) {
    @content;
  }
}


// HELPER CLASSES

.mobile-only {
  @include tablet {
    display: none;
  }
}

.mobile-tablet-only {
  @include laptop {
    display: none;
  }
}

.no-mobile {
  @include mobile-only {
    display: none;
  }
}

.no-mobile-tablet {
  @include mobile-tablet-only {
    display: none;
  }
}