// TYPE

@include font-face("Argent CF", 'argent/ArgentCF-Bold', 700);
@include font-face("Manifold CF", 'manifold/ManifoldCF-DemiBold-webfont', 600);
@include font-face("Manifold CF", 'manifold/ManifoldCF-Bold-webfont', 700);


// BODY

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}


// HEADINGS

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-family: $heading-font-family;
  font-size: 2rem;
  @include media($tablet) {
    font-size: 4rem;
  }  
  @include media($desktop) {
    font-size: 6rem;
  }  
  @include media($large) {
    font-size: 8rem;
  }

}

h2, .h2 {
  font-family: $heading-font-family;
  font-size: 1.5rem;
  @include media($tablet) {
    font-size: 1.75rem;
  }  
  @include media($desktop) {
    font-size: 3rem;
  }  
}

h3, .h3 {
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.5rem;
  @include media($tablet) {
    font-size: 2rem;
  }  
  @include media($desktop) {
    font-size: 2.5rem;
  }  
  @include media($large) {
    font-size: 3rem;
  }  
}


// PARAGRAPH

p, .p {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}
