// TYPE

@include font-face("Argent CF", 'argent/ArgentCF-DemiBold', 600);
@include font-face("Argent CF", 'argent/ArgentCF-Regular', 400);

@include font-face("Manifold CF", 'manifold/ManifoldCF-DemiBold-webfont', 600);
@include font-face("Manifold CF", 'manifold/ManifoldCF-Bold-webfont', 700);


// BODY

body, button {
  font-family: $sans;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
}


// HEADINGS

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-bottom: 1rem;
}

h1, .h1 {
  font-family: $serif;
  font-weight: 600;
  font-size: 4rem;
  @include tablet {
    font-size: 5rem;
  }  
  @include laptop {
    font-size: 6rem;
  }  
  @include desktop {
    font-size: 7rem;
  }  
  @include large {
    font-size: 8rem;
  }
}

h2, .h2 {
  font-family: $serif;
  font-weight: 400;
  font-size: 1.5rem;
  @include tablet {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 2.5rem;
  }
}

h3, .h3 {
  font-family: $sans;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.5rem;
  @include tablet {
    font-size: 2rem;
  }
  @include laptop {
    font-size: 2.5rem;
  }  
  @include desktop {
    font-size: 3rem;
  }
}

h4, .h4 {
  font-family: $sans;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}


// PARAGRAPH

p, .p {
  font-family: $sans;
  clear: both;
  display: block;
  font-size: 1rem;
  @include tablet {
    font-size: 1.75rem;
  }
}
