// VARIABLES


// LAYOUT

$space: 1rem;


// FONTS

$sans: "Manifold CF", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Argent CF", "Georgia", serif;


// COLORS

$gray:              #222222;
$light-gray:        #B3B3B3;
$lighter-gray:      #CCCCCC;
$lightest-gray:     #f2f2f2;

$text-color:        $gray;
$link-color:        $gray;

$trans:             rgba(0,0,0,0);
