// VARIABLES


// LAYOUT

$space: 1rem;


// ANIMATION

$duration-short: .25s;


// FONTS

$sans: "Manifold CF", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Argent CF", "Georgia", serif;


// COLORS

$black:             #222222;
$gray:              #999999;
$light-gray:        #CCCCCC;
$lighter-gray:      #FAFAFA;

$text-color:        $black;
$link-color:        $black;

$trans:             rgba(0,0,0,0);
