---
layout: default
---
<div class="post">

  <header class="wrapper post-header">

      <h1 class="post-title">{{ page.title }}</h1>

      <div class="post-header-row">
        <p class="post-sitename small"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
        <p class="post-type small">{{ page.type }}</p>
        <p class="post-date small">{{ page.date | date: "%Y" }}</p>
      </div>

  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="related-nav">

  {% if page.previous.url %} 
  <a class="related-item related-prev" href="{{ page.previous.url }}">
    <h2 class="related-title">{{ page.previous.title }}</h2>
  </a> 
  {% endif %}

  {% if page.next.url %}
  <a class="related-item related-next" href="{{ page.next.url }}">
    <h2 class="related-title">{{ page.next.title }}</h2>
  </a> 
  {% endif %}

</div>
